<li class="<%= user.class %>">
    <a href="#"><img src="<%= user.profileImage %>" alt="<%= user.name %>" /></a>
    <% if (typeof(user.rank) != "undefined") { %>
    <h4><%= user.rank %></h4>
    <% } %>
    <p><%= user.n_cards %> lám.</p>
</li>
