<td><%= description %></td>
<td><%= n_cards %></td>
<td><%= name %></td>
<td><%= set %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>