Amigos usando app:
<% if @friends_using_app %>
  <ul>
  <% @friends_using_app.each do |friend| %>
    <li>
      <a href="http://www.facebook.com/<%= friend['uid']%>" onclick="window.open('http://www.facebook.com/<%= friend['uid'] %>')">
      <img src="<%= friend['pic_square'] %>" alt="<%= friend['name'] %>">
      <%= friend['name'] %>
      </a>
    </li>
  <% end %>
  </ul>
<% end %>
<%=@user['name']%>, tus laminas:<hr>
<% if @cards %>
  <ul>
  <% @cards.each do |card| %>
    <ul>
    Lamina (<i><%=card['card_id']%></i>)<hr>
    </ul>
  <% end %>
  </ul>
<% end %>
