<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Álbum de la Roja!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="es" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta property="og:title" content="Banco Chile album" />
    <meta property="og:url" content="http://bancochilealbum.herokuapp.com/" />>
    <%= favicon_link_tag %>

    <!-- css files -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- /css files -->

    <!-- js files -->
    <%= javascript_include_tag "application" %>
    <!-- /js files -->

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      initSocialApps(<%= APP_ID -%>);
    </script>

    <div id="container">
      <%= yield %>
    </div>

    <script src="https://platform.twitter.com/anywhere.js?id=SoJMGFj6ijCkhz8nNJXCw&v=1" type="text/javascript"></script>

  </body>
</html>
