<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Álbum de la Roja!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="es" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />

    <meta property="og:title" content="Banco Chile album" />
    <meta property="og:type" content="game"/>
    <meta property="og:image" content="<%= SITE_URL %>assets/logo.png"/>
    <meta property="og:url" content="<%= SITE_URL %>" />
    <meta property="og:site_name" content="Banco Chile album"/>
    <meta property="fb:app_id" content="<%= APP_ID -%>"/>
    <meta property="og:description"
          content="Nuevo &aacute;lbum de la selecci&oacute;n chilena,
                   EL EQUIPO DE TODOS."/>

    <script type="text/javascript">
        if (top === self) {
            if(window.location.host == "bancochilealbum.herokuapp.com"){
                window.location = "http://www.elequipodetodos.cl/";
            }
        } else {
            top.location = "<%= SITE_URL -%>"
        }
    </script>


    <% if Rails.env.production? %>
        <meta name="google-site-verification" content="ajVlkIAoKBIgQYPl33DvvpZ5pNawumkgVmTgjz4D_pQ" />
    <% elsif Rails.env.qa? %>
        <meta name="google-site-verification" content="2x-ens8WEFKot-cHLCH0PI0LjNjJRwGrRGlHuL-xbss" />
    <% end %>

    <%= favicon_link_tag %>

    <!-- css files -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- /css files -->

    <!-- js files -->
    <%= javascript_include_tag "application" %>
    <!-- /js files -->

    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33981726-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    <% elsif Rails.env.qa? %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33966825-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      initSocialApps(<%= APP_ID -%>);
    </script>

    <div id="container">
      <%= yield %>
    </div>

    <script src="https://platform.twitter.com/anywhere.js?id=SoJMGFj6ijCkhz8nNJXCw&v=1" type="text/javascript"></script>

  </body>
</html>
